/* ABOUT SPGA */
.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem; 
    align-items: center;
    padding: 1rem 0;
}

.about__container h2 {
    font-size: 2.9rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.content p {
    font-size: 1.2rem;
    text-align: justify;
}

/* =========== MEDIA QUERIES =========== */
@media screen and (max-width: 660px){
    .about__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 3rem; 
        align-items: center;
        padding: 1rem 0;
    }
}


