/*=== PRELIMINARY CSS ===*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Abril Fatface';
    --font-secondary: 'ITC Franklin Gothic';

    --color-primary: #1e447c;
    --color-secondary: #f00404;
    --color-hover: #9d3d3d;
    --color-white: #f3f3f3;
    --color-black: #0e0e0e;
    --color-bg: #e4e4e4;

    --container-width-lg: 84%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 300ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-primary);
    background: var(--color-white);
    font-family: var(--font-primary);
}

a {
    color: var(--color-white);
    text-decoration: none;
}

li {
    list-style: none;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

img {
    width: 100%;
    object-fit: cover;
}

section {
    padding: 2rem 0;
}

section h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-primary);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

/*=== LOGO TITLE ===*/
.logo__title {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.logo {
    width: 11.25rem;
}

.logo__title h1 {
    display: flex;
    align-items: center;
    margin: 0% 0;
    justify-content: center;
    font-family: 'ITC Franklin Gothic';
    font-size: 2.8rem;
    letter-spacing: 0.1vmax;
    word-spacing: 0.2em;
    line-height: 1.3em;
    text-align: center;
    color: var(--color-primary);
    padding: 0em;
    margin-left: -50px;
}

/*=== NAV ===*/
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8rem;
    background-color: #1e447c;
    color: var(--color-white);
    border-bottom: 1rem solid #f00404; 
    position: relative;
}

nav::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(235, 227, 227); 
}

nav a {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
    font-family: 'ITC Franklin Gothic', sans-serif;
    font-size: 20px; 
    transition: var(--transition);
}

nav a:hover {
    filter: brightness(1.2);
    color: var(--color-hover);
}

/*=== HERO ===*/
.hero {
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr;
}

/*=== PRESIDENT ===*/
.president__photo {
    border: 0.5rem var(--color-secondary) solid;
    margin: 1.6rem;
    position: relative;
}

.president__photo img {
    position: absolute;
    bottom: -0.1rem;
    left: -0.1rem;
} 

.president__message {
    margin-top: 6rem;
}

.president_quote p {
    font-family: 'ITC Franklin Gothic', sans-serif;
    font-size: 1.2rem;
}

.bold__text {
    font-weight: bold;
}

.president__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.president__details img {
    width: 6rem;
}

/*=== EVENTS ===*/
.explore {
    text-align: center;
}

.explore a {
    color: var(--color-primary);
    text-decoration: underline;
    font-weight: bold;
}

.events__container {
    display: flex;
    flex-direction: column;
}

.events__container .events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
}

/*=== FOOTER ===*/
footer {
    background-image: url('/images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-black);
    padding: 1.2rem;
    text-align: center; 

    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-primary);
}

footer h3 {
    color: var(--color-primary);
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.footer__logo img{
    width: 11.25rem;
}

.social {
    transform: translateX(-25%);
   
}

.social a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.socials ul {
    display: flex;
    justify-content: space-around;
    gap: 0.4rem;
    margin: 1rem;
}

.socials ul li {
    background-color: var(--color-primary);
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    transition: var(--transition);
}

.socials ul li:hover {
    background-color: var(--color-secondary);
}

.partners {
    display: flex;
    gap: 3rem;
}

.partners img{
    width: 3rem;
}

.partners .slight__down {
    margin-bottom: 0.5rem;
}


/* =========== MEDIA QUERIES =========== */
@media screen and (max-width: 1140px){
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /*=== HERO ===*/
    .hero__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*=== PRESIDENT ===*/
    .president__photo img {
        position: absolute;
        bottom: -0.1rem;
        left: -0.1rem;
        left: 6rem;
        width: 52%;
    } 

    .president__message {
        margin-top: 6rem;
    }

    .president_quote p {
        font-family: 'ITC Franklin Gothic', sans-serif;
        font-size: 1.2rem;
    }

    .bold__text {
        font-weight: bold;
    }

    .president__details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .president__details img {
        width: 6rem;
    }

    /*=== EVENTS ===*/
    .explore {
        text-align: center;
    }

    .explore a {
        color: var(--color-primary);
        text-decoration: underline;
        font-weight: bold;
    }

    .events__container {
        display: flex;
        flex-direction: column;
    }

    .events__container .events {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.4rem;
    }
}

@media screen and (max-width: 660px){ 
    .container {
        width: var(--container-width-sm);
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    /*=== NAV ===*/
    nav {
        padding: 1.8rem;
    }

    nav a {
        padding: 5px;
        font-size: 12px; 
    }

    nav a:hover {
        filter: brightness(1.2);
        color: var(--color-hover);
    }

    /*=== FOOTER ===*/
    footer {
        background-image: url('/images/footer.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: var(--color-black);
        padding: 1.2rem;
        text-align: center; 

        display: flex;
        justify-content: space-between;
    }

    footer p {
        font-size: 1rem;
        font-weight: bold;
        font-family: var(--font-primary);
    }

    footer h3 {
        color: var(--color-primary);
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
    }

    .footer__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.3rem;
    }

    .footer__logo img{
        width: 11.25rem;
    }

    .social {
        transform: translateX(-25%);
    
    }

    .social a {
        display: inline-block;
        margin-right: 10px;
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
    }

    .footer__right {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
        gap: 0.4rem;
        margin: 1rem;
    }

    .socials ul li {
        background-color: var(--color-primary);
        padding: 0.4rem 0.5rem 0.3rem 0.5rem;
        border-radius: 0.5rem;
        transition: var(--transition);
    }

    .socials ul li:hover {
        background-color: var(--color-secondary);
    }

    .partners {
        display: flex;
        gap: 3rem;
    }

    .partners img{
        width: 3rem;
    }

    .partners .slight__down {
        margin-bottom: 0.5rem;
    }


}













