.tournaments {
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tournaments__container h2 {
    font-size: 2.9rem;
}

.tournaments__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-content: center;
}

/* TOURNAMENT LEFT */
.tournament__left img {

}

.gcash {
    display: flex;
    margin: 0.9rem 0;
    justify-content: center;
}

.gcash img {
    width: 8rem;
}

.gcash p {
    font-size: 1.2rem;
}

.gcash .bold__text {
    font-weight: bold;
}

/* TOURNAMENT RIGHT */
.tournament__right {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tournament__right article{
    border: 0.4rem var(--color-primary) solid;
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    margin: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: transparent;
}













